workflows/_old/basic-webhook-test.json
{
  "name": "Basic Test Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "basic-test",
        "responseMode": "responseNode"
      },
      "id": "webhook-basic",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "value": "={{ JSON.stringify({\n  \"status\": \"success\",\n  \"message\": \"Basic webhook test works!\",\n  \"data\": $json,\n  \"timestamp\": new Date().toISOString()\n}) }}",
        "dataPropertyName": "response"
      },
      "id": "set-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [500, 200]
    },
    {
      "parameters": {},
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}