workflows/_old/simple-data-collector.json
{
  "name": "Simple Data Collector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "collector",
        "responseMode": "responseNode"
      },
      "id": "webhook-collector",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "url": "http://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "London"
            },
            {
              "name": "appid",
              "value": "YOUR_API_KEY"
            }
          ]
        }
      },
      "id": "get-weather",
      "name": "Get Weather Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 120]
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "country",
              "value": "us"
            },
            {
              "name": "pageSize",
              "value": "5"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "YOUR_NEWS_API_KEY"
            }
          ]
        }
      },
      "id": "get-news",
      "name": "Get News Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [500, 280]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll"
      },
      "id": "merge-data",
      "name": "Merge Data",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [700, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"success\",\n  \"message\": \"Data collected successfully\",\n  \"executionId\": $json.executionId || 'exec-' + new Date().getTime(),\n  \"timestamp\": new Date().toISOString(),\n  \"sources\": {\n    \"weather\": $('Get Weather Data').all(),\n    \"news\": $('Get News Data').all()\n  }\n} }}"
      },
      "id": "respond-success",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 200]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Get Weather Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get News Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Weather Data": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get News Data": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}