workflows/_old/working-collector.json
{
  "name": "Data Collector - Working",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "collector"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [300, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO audit_logs (execution_id, workflow_name, status, records_processed, start_time) VALUES ('{{ $json.executionId || 'exec-' + Date.now() }}', 'data-collector', 'success', 1, NOW())"
      },
      "id": "log-to-db",
      "name": "Log to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [500, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-account",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\":\"success\",\"message\":\"Data received and logged\",\"executionId\":\"{{ $('Webhook').first().json.executionId || 'exec-' + Date.now() }}\",\"timestamp\":\"{{ new Date().toISOString() }}\"}"
      },
      "id": "respond-1",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [700, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Log to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Database": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {}
}